[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
requests = "*"
python-docx = "*"
xlsxwriter = "*"
db-sqlite3 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
